<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /todo_app_mvc/public/index.php
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /todo_app_mvc/public/index.php [L]
</IfModule>

